.header__logo {
  background-image: url(../../../images/logo/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 142px;
  height: 33px;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  transition: opacity .4s linear;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 878px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 615px) {
  .header__logo {
    margin-bottom: 31.6px;
    width: 103.74px;
    height: 24.4px;
  }
}
