.profile__info-edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit\ Button.svg);
  background-size: cover;
  border: none;
  padding: 0;
  margin: 37px 0 0 18px;
  background-color: transparent;
  transition: opacity .5s;
  cursor: pointer;
}

.profile__info-edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 615px) {
  .profile__info-edit-button {
    margin: 0 10px 16px;
    width: 18px;
    height: 18px;
  }
}
