.element__post-like-button {
  width: 22px;
  Height: 19px;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: auto 20px auto 0;
  cursor: pointer;
}

.element__post-like-button:hover {
  opacity: 0.5;
}
