.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 358px;
  margin: 54px 36px 36.51px;
}

@media screen and (max-width: 615px) {
  .form {
    max-width: 238px;
    margin: 75px 22px 25px;
  }
}
