.form__input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  height: 26px;
  margin-bottom: 30px;
}
.form__input:first-of-type{
  margin-top: 35px;
}
.form__input:invalid {
  border-color: rgba(255, 0, 0, 1);
}

.form__input:valid {
  border-color: rgb(0 0 0 / 20%);
}
@media screen and (max-width: 615px) {
  .form__input:first-of-type{
    margin-top: 75px;
  }
}
